<% content_for :title, "Jason Puglisi" %>

<div class="bg-home bg-inverse text-inverse text-xs-right">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <h1 class="display-4">Jason Puglisi</h1>
          <br>
          <h2><a href="mailto:jason@puglisi.im">jason@puglisi.im</a></h2>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <p>
                <i class="fa fa-github"></i> GitHub<br>
                <a href="https://github.com/JasonPuglisi">JasonPuglisi</a>
              </p>
            </div>
            <div class="col-xs-6">
              <p>
                <i class="fa fa-twitter"></i> Twitter<br>
                <a href="https://twitter.com/JasonPuglisi">@JasonPuglisi</a>
              </p>
            </div>
            <div class="col-xs-6">
              <p>
                <i class="fa fa-lastfm"></i> Last.fm<br>
                <a href="https://www.last.fm/user/iJason_">iJason_</a>
              </p>
            </div>
            <div class="col-xs-6">
              <p>
                <i class="fa fa-keyboard-o"></i> IRC<br>
                <a href="irc://irc.rizon.net:6697">Jason_ on irc.rizon.net</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pull-right">
          <h1>About Me</h1>
          <hr>
          <% age = ((Date.today() - Date.new(1997, 3, 6)) / 365).floor %>
          <p>
            I'm <%= pluralize(age, 'year') %> old and studying Computing
            Security at Rochester Institute of Technology
          </p>
          <p>
            I have coding experience with HTML, CSS/SCSS, JavaScript/Node.js,
            Ruby, PHP, and Java
          </p>
          <p>
            I know some Spanish, Chinese, and American Sign Language
          </p>
          <p>
            When I'm bored, I play piano, run, and hack servers
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-xs-right">
  <%
    sections = {'website' => 'Websites', 'utility' => 'Utilities',
      'pebble watchface' => 'Pebble Watchfaces'}
    sections.each do |section, title|
      projects = @projects.where(kind: section)
      count = 0
  %>
    <div class="row">
      <div class="col-sm-12 pull-right">
        <a name="<%= title.downcase %>"></a>
        <h1><%= title %></h1>
        <hr>
        <br>
      </div>
    </div>
    <div class="row">
      <%
        projects.each do |project|
          if count > 0 && count % 2 == 0
      %>
          </div>
          <div class="row">
      <%
          end
          count += 1
      %>
        <div class="col-sm-6 pull-right">
          <div class="row">
            <div class="col-md-10 col-lg-8 pull-right">
              <img src="<%= asset_path 'projects/' + project.image %>"
                class="img-responsive" width="100%" alt="<%= project.title %>">
              <br>
              <br>
            </div>
          </div>
          <h2><%= project.title %></h2>
          <p>
          <%
            links = eval(project.links)

            link_icons = {'web' => 'globe', 'github' => 'github',
              'pebble' => 'search', 'pebble-dl' => 'download'}
            link_names = {'web' => 'Website', 'github' => 'GitHub',
              'pebble' => 'Pebble Web', 'pebble-dl' => 'Pebble App'}

            links.each do |name, link|
              if link_icons.key?(name)
                icon = link_icons[name]
              else
                icon = 'link'
              end

              if link_names.key?(name)
                name = link_names[name]
              else
                name = name.capitalize
              end
          %>
            <i class="fa fa-<%= icon %>"></i>
            <a href="<%= link %>"><%= name %></a>
          <% end %>
          </p>
          <p><%= project.description.html_safe %></p>
          <br>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

